.main-sidebar{
    background-color: #233862;
}
.btn-info{
    background-color: #233862;
    border-color: #233862;
}

.btn-info:hover {
    background-color: #365595 !important;
}

.btn-info:focus {
    background-color: #365595 !important;
}

.nav-sidebar .nav-item > .nav-link {
    border-bottom: solid 1px #dc3545;
}

.nav-sidebar .nav-item > .nav-link:hover {
    border: solid 1px #fd640a;
}

.nav-sidebar .nav-item > .nav-link:focus {
    border: solid 1px #ff5600;
    background-color: #fea511 !important;
}

.nav-header {
    text-align: center;
    font-size: 20px !important;
    margin-top: 20px;
}

.nav-item li {
    width:100%;
}

a.nav-link {
    background-color: #132646;
}

.nav-treeview li{
    width:80%;
    margin-left:20%;
}

.nav-treeview .nav-link {
    width:80% !important;
}